body {
    background-image: url(../images/papyrus-dark/papyrus-dark.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

nav {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

footer {
    background-color: #666666;
    color: #ccc4ae;
    border-top: 8px solid #4aaaa5;
    padding: 0.5rem;
    font-size: small;
}

.navbar {
    padding: 0;
    margin-bottom: 2.5rem;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff !important;
    padding: 1rem 1.5rem 1rem 1.75rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

.fixed-bottom {
    height: 2.5rem;
}

#left-nav {
    border-right: 1px solid #cccccc;
    padding-right: 24px;
}

#center-nav {
    border-right: 1px solid #cccccc;
    padding: 0 24px;
}

#right-nav {
    padding-left: 24px;
}

#card-row {
    padding-bottom: 0;
}

@media screen and (max-width: 992px) {
    #left-nav, #center-nav, #right-nav {
        border-right: 0;
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .nav-item {
        padding-right: 1rem;
    }
}

/* END NAVBAR SPECIFIC STYLING */

p {
    line-height: 2rem;
}

.container {
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
}

.content-container {
    background-color: #323330;
    opacity: 85%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 4rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1rem;
}

.border-row {
    padding-bottom: 1rem;
}

.top-col {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 1.5rem;
    padding-left: 0;
}

#content-header {
    color: #4aaaa5 !important;
    background-color: #ffffff;
    padding-left: 0;
    padding-top: 2rem;
}

#profilePicCol {
    padding-left: 0;
}

#profilePic {
    padding-left: 0;
}

/* PORTFOLIO-SPECIFIC CSS */

.col-5 {
    margin-right: 15px;
}

/* .portfolio-boxes {
    width: 300px;
    height: 250px;
    background-color: #cccccc;
    margin: 20px 30px 20px 0;
    float: left;
} */

.hover-outline:hover {
    opacity: 50%;
}

.project-header {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: normal;
    font-size: medium;
    padding: 20px 0;
    position: relative;
    bottom: 281px;
}

.project-header:hover {
    background-color: #4882b8;
}

#repo-links {
    background-color: #ccc4ae;
    height: 221.48px;
    width: 345px;
    position: relative;
    top: 48px;
}

@media screen and (min-width: 1199px) {
    .project-header {
        width: 450px;
        position: relative;
        bottom: 337px;
    }
    .col-5 {
        padding-left: 0;
        padding-top: 3rem;
        padding-right: 0;
        margin-right: 35px;
    }
    #repo-links {
        height: 276.86px;
        position: relative;
        top: 48px;
    }
    #link-header {
        position: relative;
        bottom: 180px;
    }
}

@media screen and (max-width: 1198px) {
    .project-header {
        width: 375px;
        position: relative;
        bottom: 291px;
    }
    .col-5 {
        padding-left: 0;
        padding-top: 3rem;
        padding-right: 0;
        margin-right: 35px;
    }
    #repo-links {
        height: 230.7px;
        width: 360px;
        position: relative;
        top: 48px;
    }
    #link-header {
        position: relative;
        bottom: 181px;
    }
}

@media screen and (max-width: 992px) {
    .project-header {
        padding: 15px 0;
        width: 275px;
        position: relative;
        bottom: 219px;
    }
    .col-5 {
        padding-left: 0;
        padding-top: 3rem;
        padding-right: 0;
        margin-right: 35px;
    }
    #repo-links {
        height: 169.19px;
        width: 245px;
        position: relative;
        top: 48px;
        padding-top: 30px;
    }
    #link-header {
        position: relative;
        bottom: 152px;
    }
}

@media screen and (max-width: 767px) {
    .project-header {
        padding: 10px 0;
        width: 200px;
        position: relative;
        bottom: 163px;
    }
    .col-5 {
        padding-left: 0;
        padding-top: 3rem;
        padding-right: 0;
        margin-right: 35px;
    }
    #repo-links {
        height: 123.05px;
        width: 170px;
        position: relative;
        top: 48px;
        padding-top: 25px;
        font-size: .75rem;
    }
    #link-header {
        position: relative;
        bottom: 119px;
    }
}
@media screen and (max-width: 574px) {
    .project-header {
        padding: 5px 0;
        width: 211.66px;
        position: relative;
        bottom: 160px;
    }
    .col-5 {
        padding-left: 0;
        padding-top: 3rem;
        padding-right: 0;
        margin-right: 25px;
    }
    #repo-links {
        height: 130.22px;
        width: 170px;
        position: relative;
        top: 48px;
        padding-top: 25px;
        font-size: .75rem;
    }
    #link-header {
        position: relative;
        bottom: 109px;
    }
}

@media screen and (max-width: 415px) {
    .project-header {
        padding: 0;
        width: 147.5px;
        position: relative;
        bottom: 111px;
    }
    .col-5 {
        padding-left: 0;
        padding-top: 2rem;
        padding-right: 0;
        margin-right: 15px;
    }
    #repo-links {
        height: 89.72px;
        width: 170px;
        position: relative;
        top: 32px;
        padding-top: 15px;
        font-size: .75rem;
    }
    #link-header {
        position: relative;
        bottom: 90px;
    }
}

@media screen and (max-width: 316px) {
    .project-header {
        padding: 0;
        width: 107.5px;
        position: relative;
        bottom: 79px;
        font-size: .65rem;
    }
    .col-5 {
        padding-left: 0;
        padding-top: 2rem;
        padding-right: 0;
        margin-right: 15px;
    }
    #repo-links {
        height: 66.3px;
        width: 170px;
        position: relative;
        top: 32px;
        padding-top: 10px;
        font-size: .65rem;
    }
    #link-header {
        position: relative;
        bottom: 68px;
    }
}

/* CONTACT SPECIFIC CSS */

form {
    padding-bottom: 2rem;
}

#submitButton {
    background-color: #4aaaa5;
    color: #ffffff;
}

#submitButton:hover {
    color: #ffffff;
    background-color: #4882b8;
}